/* Minimal Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.intro {
    background-color: #2b262d;
}

.introH1 {
    color: white;
    display: block;
    top: 100px;
    text-align: center;
    top: 100px;
    position: relative;
    font-size: 50px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 0;
    background-color: darkgray;
    border-top: 5px solid black;
    padding: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}

.arstall{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
}

.drevet_av{
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 15px;
}


.om_oss a{
    text-decoration: none;
    color: black;
}

.td_footer{
    padding: 10px;
}

canvas {
    border: 1px solid black;
}

/* Overgang */

.clipPath-overgang {
    position: fixed; /* Endret fra absolute til fixed for å dekke hele siden */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* Fargen som brer seg */
    clip-path: circle(0% at 50% 50%); /* Start med en sirkel som ikke vises */
    pointer-events: none; /* Forhindre at elementet fanger klikk */
    z-index: 10; /* Sørg for at den ligger over andre elementer */
}

.clipPath-overgang.aktiv {
    clip-path: circle(150% at 50% 50%); /* Utvider seg til å dekke hele skjermen */
    transition: clip-path 1.2s linear; /* Glidende overgang */
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition-delay: 1.2s;
}

#gate {
    background-color: black;
    position: relative;
    justify-content: center;
    width: 30%;
    cursor: pointer;
}


