/* Minimal Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.intro {
    background-color: #2b262d;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    bottom: 0;
    background-color: darkgray;
    border-top: 5px solid black;
    padding: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}

.arstall{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
}

.drevet_av{
    grid-column-start: 2;
    grid-column-end: 3;
}

.om_oss{
    grid-column-start: 3;
    grid-column-end: 4;
    margin: auto;
}